@charset "utf-8"

@import mixin

body#soft

    &.invert-color
        filter: invert(1)

    &.events-none, &.events-none *
        pointer-events: none !important

    .soft-inactive
        pointer-events: none !important

    & > main

        #soft-pages

            .soft-page

                &.soft-current-page